#root {
  color: gray;
  display: grid;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 20vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

#wrapper {
  width: 80vw;
  padding: 20px;
}