h2 {
    font-size: 2rem;
}

.question-category-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.question {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    padding: 5px 10px;
}

.question label {
    width: 80%;
    height: 100%;

    display: flex;
    justify-items: center;
    align-items: center;
}

.question input {
    width: 20%;
}

.button-navigation {
    box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    height: 5vh;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-navigation .container {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    gap: 2rem;
    width: 80%;
}

button {
    all: unset;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 18px -4px rgba(0,0,0,0.75);
    padding: 1rem;
    color: white;
}

button.button-green {
    background-color: #2ecc71;

}

button.button-red {
    background-color: #d63200;
}

